@font-face {
	font-family: 'Arial';
	font-display: swap;
    src: url('../../../../assets/fonts/arial/_arial-regular.eot');
	src: local("O"), url("../../../../assets/fonts/arial/_arial-regular.woff") format("woff"), 
			url("../../../../assets/fonts/arial/arial-regular.ttf") format("truetype"), 
            url("../../../../assets/fonts/arial/_arial-regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Arial';
	font-display: swap;
    src: url('../../../../assets/fonts/arial/_arial-italic.eot');
	src: local("O"), url("../../../../assets/fonts/arial/_arial-italic.woff") format("woff"), 
			url("../../../../assets/fonts/arial/arial-italic.ttf") format("truetype"), 
            url("../../../../assets/fonts/arial/_arial-italic.woff2") format("woff2");
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'Georgia';
	font-display: swap;
    src: url('../../../../assets/fonts/georgia/_georgia-italic.eot');
	src: local("O"), url("../../../../assets/fonts/georgia/_georgia-italic.woff") format("woff"), 
			url("../../../../assets/fonts/georgia/georgia-italic.ttf") format("truetype"), 
            url("../../../../assets/fonts/georgia/_georgia-italic.woff2") format("woff2");
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'Georgia';
	font-display: swap;
    src: url('../../../../assets/fonts/georgia/_georgia-bold.eot');
	src: local("O"), url("../../../../assets/fonts/georgia/_georgia-bold.woff") format("woff"), 
			url("../../../../assets/fonts/georgia/georgia-bold.ttf") format("truetype"), 
            url("../../../../assets/fonts/georgia/_georgia-bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Georgia';
	font-display: swap;
    src: url('../../../../assets/fonts/georgia/_georgia-regular.eot');
	src: local("O"), url("../../../../assets/fonts/georgia/_georgia-regular.woff") format("woff"), 
			url("../../../../assets/fonts/georgia/georgia-regular.ttf") format("truetype"), 
            url("../../../../assets/fonts/georgia/_georgia-regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}
@import '../../main/style/var';
@import '../../main/style/reset';
@import '../../main/style/common';
// page
@import './header';
@import './main-page';
@import '../../main/style/footer';
@import './media'

